*{margin:0px;}
body{color: #444444;}
:root{--w:80%;}

h1{
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom:18px;
    font-size:28px;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size:18px;
    font-weight: 400;
    text-align: left;
    line-height:28px;
    margin:5px;
}
                                        /* NAV BAR */
.main{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    position:sticky;
    top:0px;
    z-index: 1;
    background-color: #fff;
    animation: none;
}
.nav{
    width:var(--w);
    display: flex;
    justify-content:space-between;
}
.nav1{display: flex;align-items: center;}
.bar{display: none;}
.c1{
    margin-top:15px;
    background-repeat: no-repeat;
    background-size:contain;
}
.logo{
    height:50px;
    width:150px;
}
 .c2{display:flex;flex-wrap: wrap; align-items: center;}
 .c3{margin: 30px; display: flex;justify-content: end;}
 .c4{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
a{text-decoration: none;}
span{
    color: black;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family:"Open Sans", sans-serif;
}
span:hover{color:#3498db;}
.nb{
    font-size:18px;
    background-color:#3498db;
    border-radius:25px;
    border-color:#3498db;
    color: aliceblue;
    padding: 10px;
    width: 200px;
    height:50px;
    border:0px;
}
                                        /* HOME */
.hoco{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    margin-top:50px;
    animation-name:all;
    animation-duration:5s;
    animation-timing-function:ease;
    animation-iteration-count:initial;
    animation-direction:normal
}
@keyframes all {
    0%{opacity:0;}
    100%{opacity:1;}    
}
.home{
    width:var(--w);
    margin:60px 0px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    justify-items:center;
    background-color: #fff;
}
.child1{
    background-color:white;
    font-family: "Raleway", sans-serif;
}
.fc{
    line-height:50px;
    font-size:300%;
    margin:30px 0px;
    animation-name:main;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-iteration-count:initial;
    animation-direction:normal; 
}
@keyframes main {
    0%{transform:translateY(100px);}
}
.fb{
    border-radius:30px;
    border:3px solid #3498db;
    background-color:white;
    color:#3498db;
    padding: 10px;
    width: 180px;
    height:50px;
    font-size:18px;
    animation-name: growfb;
    animation-duration:3s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count:initial;
    animation-direction:normal; 
    transition-property:background-color,color;
    transition-duration:0.5s,0.5s;
}
@keyframes growfb {
    0%{transform:translateY(100px);}
}
.fb:hover{
    background-color:#3498db;
    color: #fff;
}
.fp{
    line-height:30px;
    font-size:150%;
    margin-bottom:60px;
    animation-name:growfp;
    animation-duration:3s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count:initial;
    animation-direction:normal; 
}
@keyframes growfp {
    0%{transform:translateY(100px);}
}
.child2{
    animation-name:child2;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
}
@keyframes child2{
    0%{transform:translateX(200px);}
}
.hero{
    display: flex;
    justify-content: center;
    z-index:0;
    width:100%;
    height:100%;
    animation-name:hero;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse; 
}
@keyframes hero {
    0%{transform:translateY(20px);}
    100%{transform: translateY(-20px);}
}
                                        /* SERVICES */
.seco{
    width:100%;
    display: flex;
    justify-content: center;
    animation-name:all;
    animation-duration:5s;
    animation-timing-function:ease;
    animation-iteration-count:initial;
    animation-direction:normal
}
@keyframes all {
    0%{opacity:0;}
    100%{opacity:1;}    
}
.service{
    width:var(--w);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:60px;
}
.seca{width:100%;}
.c{
    width:100%;
    text-align: center;
    margin:10px;
}
.cs{
    margin:20px;
    font-family:"Raleway", sans-serif;
}
.cs::before{
    content:"";
    background: #3498db;
    height:3px;
    width:50px;
    display: inline-block;
    margin:10px;
}
.cs::after{
    content:"";
    background: #3498db;
    height:3px;
    width:50px;
    display: inline-block;
    margin:10px;
}
.d{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}
.e{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}
 .card{
    margin:10px;
    padding:2vw;
    border-radius:10px;
    text-align: left;
    box-shadow:5px 0px 30px rgb(202, 201, 201);
    position: relative;
    transition-property:background-color,color;
    transition-timing-function:ease;
    overflow: hidden;
    animation-name:main;
 }
.card:hover{
    background-color:#3498db;
    color: #fff;
} 
.card1{
    background-color: #3498db;
    color: #fff;
    border-radius:50%;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    transition-property:background-color,color;
    transition-timing-function:ease;
    transition-delay:0s;
}
.card1:hover{
    background-color: #fff;
    color: #3498db;
}
.card2::before{
    position: absolute;
    right:-50px;
    top: -40px;
    content:"";
    height:100px;
    width:100px;
    border-radius:50%;
    z-index:-1;
    background-color:#3498db48;
    transition-property:background-color,color;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-duration:0.3s;
}
.card2:hover{
    background-color:#3498db;
    color: #fff;
}
.ch{
    margin:20px 0px;
    font-size:18px;
    font-family:"Raleway", sans-serif;
    line-height: 28px;
}
.cp{
    font-size:15px;
    font-family:"Raleway", sans-serif;
    line-height: 28px;
    text-align: center;
}
                                        /* PRODUCT */
.proco{
    display: flex;
    justify-content: center;
}
.product{
    margin-bottom:60px;
    width:var(--w);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #fff;
}
.f{
    width:100%;
    text-align: center;
}
.probox{width: 100%;}
.g{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
}
.h{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}
.box{
    border:3px solid white;
    border-radius:20px;
    margin:10px;
    display: grid;
    grid-template-rows:150px minmax(150px,1fr);
}
#b1{
    background-image:url(DS.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#b2{
    background-image:url(EC.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#b3{
    background-image:url(BS.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#b4{
    background-image:url(IT.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bi{
    margin:15px;
    padding:10px;
    background-color: rgba(252, 249, 249, 0.849);
    border-radius:10px;
    line-height: 28px;
    transition-property:background-color,color;
    transition-timing-function:ease;
}
.bi:hover{
    background-color:#3498db;
    color: #fff;
}
.bi1{height:100%;}
                                        /* ABOUT */
.aboco{
    display: flex;
    justify-content: center;
}
.ABOUT{width:var(--w);
    margin-bottom:60px;}
.j{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    line-height:25px;
    word-spacing:4px;
}
.value{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}
.m{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap: 2%;
}
#n{
    text-align:left;
    font-size:36px;
    margin-top:0px;
    font-weight:600;
}
.w{ width:100%;height:100%;}
.points{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:2%;
}
.point1{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap: 2%;
}
.point2{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}
.p1{display:flex;}
.valo{font-size:50px;margin-right:20px;}

                                        /* CONTACT */
.coco{
    margin:10px;
    display:flex;
    justify-content: center;
}
.contact{background-color: #fff;width:var(--w);margin-bottom:60px;}
.contact1{text-align: center;}
.contact2{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.caic{display: flex;}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:40px;
    margin:5px;
    color:#3498db;
    border:2px solid #3498db;
    border-radius:50%;
}
.icon:hover{
    color: #fff;
    background-color:#3498db;
}
input{
    width:100%;
    height:40px;
    padding:4px;
    border-radius:10px;
    border:1px solid rgba(128, 128, 128, 0.555);
}
input:focus{box-shadow:0px 0px 20px #3498db;}
textarea{
    width:100%;
    height:135px;
    padding:4px;
    font-size:18px;
    border:1px solid rgba(128, 128, 128, 0.555);
    border-radius:15px;
}
textarea:focus{box-shadow:0px 0px 20px #3498db;}
.location{display: flex;flex-wrap: wrap; margin-bottom:25px;gap:10px;}
.loc{margin:10px;}
.cobu{
    width:100%;
    display: flex;
    justify-content: center;
}
.copyco{font-size:18px;}
.copyde{font-size:16px;}
                                        /* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    box-shadow:0px 0px 10px gray;
}
.foco{width:var(--w);margin-bottom:40px;}
.foca{color: #3498db;}
                                        /* MEDIA QUERY */
@media screen and (max-width:1000px)
{
    .c2{display: none;}
    .hoco{margin:0px;}
    .child1{order:2;}
    .child2{order:1;}
    .copyco{text-align: center;}
    .copyde{text-align: center;}
    .bar{
        width: 40px;
        font-size:30px;
        display: flex;
        align-items: center;
        border:0px;
        background-color:white;
    }
    :root{--w:90%;}
    .cs{font-size:36px;}
    @keyframes hero {}
}
